# environment secrets
.env

# python
__pycache__/
*.pyc

# conda
.conda/
.envs/

# mac
.DS_Store

# vscode
.vscode/

# docker runtime
*.log

# ignore keeper data completely
keeper_data/*

# ignore dataset
dataset/raw/*